@inject IUserService userService;

<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/Home/Index"><img src="~/img/core-img/logo.png" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            @if (userService.IsSignIn(User))
            {
                @if (User.IsInRole("Admin"))
                {
                    <li class="active"><a href="/Admin/Home/Index">Admin Sayfa</a></li>
                    <li><a href="/Admin/Product/Add">Ürün Ekle</a></li>
                    <li><a href="/Admin/Product/GetAllActive">Ürünler</a></li>

                    <li><a href="/Admin/Category/Add">Kategori Ekle</a></li>
                    <li><a href="/Admin/Category/GetAllActive">Kategoriler</a></li>

                    <li><a href="/Admin/Brand/Add">Marka Ekle</a></li>
                    <li><a href="/Admin/Brand/GetAllActive">Markalar</a></li>
                }
                else
                {
                    <li class="active"><a href="/Home/Index">Ana Sayfa</a></li>
                    <li><a asp-action="Index" asp-controller="Category">Kategoriler</a></li>
                    <li><a asp-action="Index" asp-controller="Brand">Markalar</a></li>
                    <li><a asp-action="Index" asp-controller="Product">Ürünler</a></li>
                    <li><a href="#">Sepetim</a></li>
                }

                <li class="active"><a href="/User/Logout">Çıkış Yap</a></li>
            }
            else
            {
                <li class="active"><a href="/Home/Index">Ana Sayfa</a></li>
                <li class="active"><a href="/User/Register">Kayıt Ol</a></li>
                <li class="active"><a href="/User/Login">Giriş Yap</a></li>
            }
        </ul>
    </nav>
    <!-- Button Group -->
    <!--<div class="amado-btn-group mt-30 mb-100">
        <a href="#" class="btn amado-btn mb-15">%Discount%</a>
        <a href="#" class="btn amado-btn active">New this week</a>
    </div>-->

    <!-- Cart Menu -->
    <!--<div class="cart-fav-search mb-50">
        <a href="cart.html" class="cart-nav"><img src="~/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
        <a href="#" class="fav-nav"><img src="~/img/core-img/favorites.png" alt=""> Favourite</a>
        <a href="#" class="search-nav"><img src="~/img/core-img/search.png" alt=""> Search</a>
    </div>-->
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>